.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Merriweather&display=swap');

.container {
  padding: 30px;
  width: 400px;
  height: 00px;
}

/* table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

th {
  top: 0;
  position: sticky;
  padding: 20px 15px 20px 20px;
  text-align: left;
  font-weight: 500;
  border-bottom: 1px solid black;
}

td {
  text-align: center;
  border: 1px solid black;
}

tr {
  border-bottom: 1px solid black;
} */

button {
  font-size: 13px;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 15px;
  border-color: #c9acff;
  background-color: #c9acff;
  font-display: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #640088;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.custom-datepicker {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

.custom-datepicker {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

h1 {
  text-align: center;
  padding: 40px 0px 0px 0px;
}

/* h2 {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  padding: 0px 30px 30px 30px;
} */

.dialog-div {
  padding: 5%
}

.user-trip-list ul>li {
  margin-left: 10px;
}

#floatingInput {
  width: 60%;
  position: relative;
  display: inherit;
  border-radius: 9999em;
  margin: 50px 50px 50px 50px;
  border: none;
  outline: none;
  padding: 0 .325em;
  z-index: 1;
  display: inherit;
  border-radius: 9999em;
  margin: 50px 50px 50px 50px;
  border: none;
  outline: none;
  padding: 0 .325em;
  z-index: 1;

  box-shadow: inset 0 0 0 3px #fff,
    0 0 0 4px #fff,
    3px -3px 15px #00bfff,
    -3px 3px 15px #da90ff;
}

/* h3 {
  display: flex;
  position: relative;
  padding: 2px 6px 6px 20px;
  width: 60%;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  border: 3px solid rgb(164, 165, 245);
  border-radius: 20px;
  list-style-type: none;
} */

#avatar-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
  right: 0;
  margin: 1rem 0px 0px 0px;
}

#vote-buttons {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  padding: 8px 4px 8px 8px;
  position: absolute;
  top: 0;
}

#delete {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  right: 0;
  padding: 8px 8px 8px 8px;
  position: absolute;
  top: 0;
}

#comment-textfield {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.msg-text {
  padding: 2rem 0px 2rem 1rem;
  position: absolute;
  justify-content: center;
  overflow-wrap: break-word;
}

h4 {
  position: absolute;
  font-weight: normal;
  font-size: 80%;
  margin-left: 5px;
}

.comment-line ul>li {
  display: flex;
  padding: 5px;
  margin-left: -1em;
  list-style-type: none;
}

.overlay {
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}